  
<!DOCTYPE html>
<html lang="en">
<head>
    <title>GeoEDGE Map Engine</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'img/fav.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/leaflet.css' %}">
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/leaflet/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/leaflet/leaflet-providers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/leaflet/leaflet.ajax.js' %}"></script>
</head>
<body>
<h1>Test</h1>
</body>
</html>